* {
    font-family: $fuente;
}

p {
    margin-top: 0 !important;
    margin-bottom: 0rem !important;
    padding: 10px !important;
}

.bg-menu {
    background-color: $colorBgMenu;
}

.logo-nav {
    height: 45px;
}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.nav-item {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.btn-verde {
    background-color: $color1 !important;
    border: 0.5px $color3 solid !important;
    color: $color5 !important;

    &:hover {
        background-color: $color2 !important;
        border: 0.5px solid !important;
        color: $color4 !important;
    }
}

.cartWidget {
    width: 80px;
    height: 33px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid;
    background-color: $color2;
    color: $color4;
    align-items: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
}

.container__user {
    background-color: $color2;
    color: $color4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-weight: 400;
    font-size: 30px;
}

.user {
    padding-left: 10px;
}

.cards {
    display: flex;
    border-radius: 48px;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
    margin: 15px;
    flex-direction: column;
    margin: 50px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 9px;
    grid-template-areas:
        "img detalle"
        "img detalle"
        "img compra";
    border-radius: 48px;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
    margin: 15px;
    flex-direction: column;
    margin: 50px;
}

.card--md {
    width: 328px;
    height: 565px;
}

.card--xl {
    width: 600px;
    height: 470px;
}

.cantidadCompra {
    width: 50px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid $color3;
}

.img {
    grid-area: img;
}
.img-banner{
    border-radius: 0px 0px 160px 160px;
}

.detalle {
    grid-area: detalle;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card__detalle {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.detalle--titulo {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
}

.detalle--precio {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
}

.detalle--cantidad {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

.compra {
    grid-area: compra;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.img-producto {
    width: 328px;
    height: 328px;
    margin-bottom: 27px;
    border-radius: 48px;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
}

.img-producto--xl {
    width: 310px;
}

.listProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link {
    text-decoration: none;
}